* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e4e4e4;
}

.text-lblue {
    color: #4989C9;
}

.text-blue {
    color: #015593;
}

.bg-lblue {
    background-color: #4989C9;
}

.bg-blue {
    background-color: #015593;
}